<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="com.chuhui.xmlspringdebug" />

	<bean id="service1" class="com.chuhui.xmlspringdebug.service.XmlService1">
		<property name="service" ref="service2"/>
	</bean>
	<bean id="service2" class="com.chuhui.xmlspringdebug.service.XmlService2">
		<property name="xmlService" ref="service1"/>
	</bean>


</beans>